.DS_Store
./software/.DS_Store
./software/*/.DS_Store
./software/*/*/.DS_Store
./circuits/.DS_Store
./hardware/.DS_Store
./software/STM32F103C8T6/test_USB/build/
./software/STM32F103C8T6/test_USB/build/*
./software/STM32F103C8T6/test_LED/build/
./software/STM32F103C8T6/test_LED/build/*
./software/STM32F303K8T6/flash_led/build/
./software/STM32F303K8T6/flash_led/build*
